fastapi==0.136.1
uvicorn==0.46.0

SQLAlchemy==2.0.49
python-dotenv==1.2.2

python-jose==3.5.0
cryptography==47.0.0

passlib[bcrypt]==1.7.4

python-multipart==0.0.27
email-validator==2.3.0
pydantic==2.13.3
pydantic-settings==2.14.0

anyio==4.13.0